
@{
    ViewBag.Title = "Index";
}
@model List<CafeManagement.Models.MenuModel>
<div class="col-md-12 text-left" id="form">
    <label class="my-title">
        <img id="search" src="~/Content/Image/search-55.png" />
        Danh sách đồ ăn/uống
    </label>
    <div class="my-body">
        <input class="textbox-custom-search" id="searchInput" type="text" placeholder="Tìm kiếm...">
        <table class="table table-borderless space-row">
            <thead>
                <tr class="d-flex">
                    <th class="col-1">STT</th>
                    <th class="col-1">Hình</th>
                    <th class="col-1">Mã món</th>
                    <th class="col-2">Tên món</th>
                    <th class="col-1">Giá tiền</th>
                    <th class="col-1">Đồ ăn</th>
                    <th class="col-1">Đồ uống</th>
                    <th class="col-3">Ghi chú</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <tbody id="searchTable">
                @{
                    int i = 0;
                    foreach (var temp in Model)
                    {
                        i++;
                        var idImage = "image" + i;
                        <tr style="display:flex">
                            <th class="col-1 normal align-self-center">@i</th>
                            <th class="col-1 normal align-self-center" style="padding:2px !important">
                                <img class="image-cus" id="@idImage" style="height:40px;width:60px" alt="@temp.Name" src="~/Content/Image/cafe-sua-nong_min.jpg" />
                            </th>
                            <th class="col-1 normal align-self-center">@temp.Code</th>
                            <th class="col-2 normal align-self-center">@temp.Name</th>
                            <th class="col-1 normal align-self-center">
                                <script>
                                formatNumber('@temp.Price')
                                </script>

                            </th>
                            <th class="col-1 normal align-self-center" style="padding-left:25px">
                                @if (temp.IsFood == "0")
                                {
                                    <img src="~/Content/Image/checkmark-24.png" />
                                }
                                else
                                {
                                    <img src="~/Content/Image/horizontal-line-12.png" />
                                }
                            </th>
                            <th class="col-1 normal align-self-center" style="padding-left:25px">
                                @if (temp.IsFood == "1")
                                {
                                    <img src="~/Content/Image/checkmark-24.png" />
                                }
                                else
                                {
                                    <img src="~/Content/Image/horizontal-line-12.png" />
                                }
                            </th>
                            <th class="col-3 normal align-self-center">@temp.Mark</th>
                            <th class="col-1 normal align-self-center">
                                <img src="~/Content/Image/edit-24.png" />
                                &nbsp;
                                <img src="~/Content/Image/delete-24.png" />
                            </th>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    var demo = $('[id^="image"]');
    //    demo.each(function () {
    //        var id = "#" + $(this).attr("id");
    //        // Get the image and insert it inside the modal - use its "alt" text as a caption
    //        $(id).click(function () {
    //            $("#imgModal").css({ display: "block" });
    //            $("#imgZoom").attr('src', $(this).attr('src'));
    //            $("#caption").html($(this).attr('alt'));
    //        });
    //    });
    //});

    $("#image1").click(function () {
         $('#modelContent').load("/Menu/Add");
         $("#imgModal").css({ display: "block" });
    //            $("#imgZoom").attr('src', $(this).attr('src'));
    //            $("#caption").html($(this).attr('alt'));
            });
</script>

